/* CSS */
.createImg{
  align-items: center;
  background-image: url('../img/back\ 5.jpeg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.cardCont{
  width: 32rem;
  height: 45rem;
  display:flex;
  margin-top: 40px;
  margin-left: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: black solid 1px;
  border-radius: 10px;
  background-color:#8b8b8b;
  background:linear-gradient(to bottom, #a0bee5 5%, #db9e8c 100%);
}

.cardName{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-shadow: 3px 5px 14px black;
  color: rgb(255, 255, 255);
  background:linear-gradient(to bottom, #cfe4ff 5%, #313d4a 100%);
  background-color:#f7b96c;
  border-radius:10px;
  border:1px solid #ffffff;
}

.cardImg{
  width: 280px;
  height: 175px; 
  border-radius:10px;
}

.cardGenres{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight:bolder;
  text-shadow: 3px 5px 14px black;
  color: rgb(255, 255, 255);
  align-items:flex-end;
}

.descriptionCont{
    height: 100%;
    width: 450px;
    flex-direction: row;
    flex-wrap: wrap;
    float:left;
    margin-left: 25px;
    margin-bottom: 10px;
    align-items: center;
    border: black solid 1px;
    border-radius: 10px;
    background-color:#f1eeee;
    /* background:linear-gradient(to bottom, #a0bee5 5%, #db9e8c 100%); */
}

.cardDescription{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight:bolder;
  text-shadow: 3px 5px 14px rgb(117, 109, 109);
  color: rgb(60, 59, 90);
  align-items:flex-end;
}

.cardReleased{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight:bolder;
  text-shadow: 3px 5px 14px black;
  color: rgb(255, 255, 255);
  align-items:flex-end;
}

.cardRating{
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  font-weight:bolder;
  text-shadow: 3px 5px 14px black;
  color: rgb(64, 80, 143);
  align-items:flex-end;
}

.cardPlatforms{
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  font-weight:bolder;
  text-shadow: 3px 5px 14px black;
  color: rgb(255, 255, 255);
  align-items:flex-end;
}

.button{
    top: 2%;
    padding: 0.6em 2em;
    border: none;
    margin: 1rem;
    outline: none;
    font-family: monospace;
    font-size: 130%;
    color: rgba(255, 255, 255);
    background: rgba(50, 49, 47);
    cursor: pointer;
    position: relative;
    align-items: center;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: auto;
}

.button:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        #ffffff,
        white,
        white
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.button:after {
    z-index: -1;
    content: "";
    position:absolute ;
    width: 100%;
    height: 100%;
    background: rgba(50, 49, 47);
    left: 0;
    top: 0;
    border-radius: 5px;
}