.home{
    background-image: url("https://cdn.hovia.com/app/uploads/blue-games-retro-plain-820x532.jpg");
    background-repeat: repeat-y;
    background-size:contain; 
    background-position: center;
    background-attachment: scroll;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin:0;
}

.topBar{
    position: relative;
    top:25px;
    width: 100%;
    align-content: center;
    min-height: 120px;
    text-align: center;
}

.htitle{
    font-family:'Courier New', Courier, monospace;
    font-weight:bolder;
    font-size: 500%;
    text-shadow: 3px 5px 14px black;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    margin: 20px;
}

.btnCG {
	box-shadow: 0px 0px 0px 2px #bdbdbd;
	background:linear-gradient(to bottom, #cfe4ff 5%, #7c92b5 100%);
	background-color:#f7b96c;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Courier New', Courier, monospace;
	font-size:20px;
	font-weight:bold;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 13px #2d3957;
}

.divContainer{
    display:block;
    justify-content: center;
}

.selectCont{
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    font-weight: bold;
    margin: 2px;
    padding: 5px;
}


.allCards{
    position:relative;
    align-items: center;
    justify-content: space-around;
}

.bottomPages{
    margin: 10px;
}


